apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: webhooks
    repo: oci://zot.homelab.kszpakowski.com/webhooks
    version: 1.0.0
    releaseName: webhooks
    namespace: webhooks
    valuesInline:
      image:
        pullPolicy: Always
      env:
        - name: AWS_ENDPOINT
          value: http://localstack.localstack:4566
        - name: AWS_REGION
          value: us-west-1
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: webhooks-user-access-key-conn
              key: username
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: webhooks-user-access-key-conn
              key: password
        - name: GITHUB_WEBHOOK_SECRET
          valueFrom:
            secretKeyRef:
              name: github-webhooks-secret
              key: SECRET
        - name: SNS_TOPIC_ARN_GITHUB
          valueFrom:
            secretKeyRef:
              name: webhooks-github-sns
              key: arn
