apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-1-controller
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: app-1
  template:
    metadata:
      labels:
        app: app-1
    spec:
      containers:
        - name: controller
          image: zot.homelab.kszpakowski.com/app-1-controller:latest
          imagePullPolicy: Always
          env:
            - name: AWS_ENDPOINT
              value: http://localstack.localstack:4566
            - name: tf-jobs-queue-url
              valueFrom:
                secretKeyRef:
                  name: tf-jobs-queue-conn
                  key: url
            - name: WORKER_REPORTS_QUEUE_URL
              valueFrom:
                secretKeyRef:
                  name: worker-reports-queue-conn
                  key: url
          ports:
            - name: api
              containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

