apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-1-controller
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-1
  template:
    metadata:
      labels:
        app: app-1
    spec:
      containers:
        - name: upload-server
          image: zot.homelab.kszpakowski.com/app-1-controller:latest@sha256:f5eed3211120e17b492f358ac523dc00140380d92c617f9d9714ed6a93ffff56
          imagePullPolicy: IfNotPresent
          env:
            - name: AWS_ENDPOINT
              value: localstack.localstack:4566
            - name: tf-jobs-queue-url
              valueFrom:
                secretKeyRef:
                  name: tf-jobs-queue-conn
                  key: url
          ports:
            - name: api
              containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

