apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-1-controller
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-1
  template:
    metadata:
      labels:
        app: app-1
    spec:
      containers:
        - name: controller
          image: zot.homelab.kszpakowski.com/app-1-controller:latest@sha256:6727a240b36b59efb71fb1ea47402d85e0a79e6752e3985bc845e59b9eded3c4
          imagePullPolicy: IfNotPresent
          env:
            - name: AWS_ENDPOINT
              value: http://localstack.localstack:4566
            - name: tf-jobs-queue-url
              valueFrom:
                secretKeyRef:
                  name: tf-jobs-queue-conn
                  key: url
          ports:
            - name: api
              containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

