apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-1-controller
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-1
  template:
    metadata:
      labels:
        app: app-1
    spec:
      containers:
        - name: upload-server
          image: zot.homelab.kszpakowski.com/app-1-controller:latest@sha256:26066d0ad4011ef43a5b0e69cec871bbd3aae513ab7c3eb7d577e6d68a859889
          imagePullPolicy: IfNotPresent
          env:
            - name: tf-jobs-queue-url
              valueFrom:
                secretKeyRef:
                  name: tf-jobs-queue-conn
                  key: url
          ports:
            - name: api
              containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

