apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ../../base
patches:
  # Enable SealedSecret status updates for Argo CD and disable automatic key renewal.
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: sealed-secrets-controller
      namespace: kube-system
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: sealed-secrets-controller
        namespace: kube-system
      spec:
        template:
          spec:
            containers:
            - args:
              - --update-status
              - --key-renew-period=0
              name: sealed-secrets-controller
