apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: traefik
    repo: https://helm.traefik.io/traefik
    version: 34.4.1
    releaseName: traefik
    namespace: traefik
    valuesInline:
      ingressRoute:
        dashboard:
          enabled: true
      service:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "*.homelab.kszpakowski.com"
